{% extends 'layout1.html.twig' %}

{% block content %}
<div class="container text-center">
    <h2>{{ '@controllers.security_birthdate.title' | trans }}</h2><br/>
    <p>{{ birthdate }}</p>
</div>
{% endblock %}