{% extends 'layout.html.twig' %}

{% block title %}Profile!{% endblock %}
{% block content %}

    <div class="mb-3">
        Bye, bye{% if user %} {{ user.username }}{% endif %} ! Return to the <a href="{{ path('base_homepage') }}">homepage</a>
    </div>

{% endblock %}
