{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.value %} {# if not null #}
    <img class="country-flag"
         src="{{asset('bundles/base/flags/'~field.value~'.png')}}"> {{ field.formattedValue ?? '' }}
{% else %}
    <span class="badge badge-secondary">{{field.formattedValue ?? '-'}}</span>
{% endif %}
