{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# this template is used to display Doctrine entity primary keys #}

{% if field.getProperty() == "id" %}
    {{ field.formattedValue|raw }}
{% endif %}

{% set switchParameter = field.getCustomOption("impersonate") %}
{% if switchParameter %}
    {% set identifier = property_accessor(field.value, class_exists("App\\Entity\\User", "identifier") ? static_property("App\\Entity\\User", "identifier") : static_property("Base\\Entity\\User::$identifier")) %}
    <a class="field-impersonate" href="?{{ switchParameter }}={{ identifier }}"><i class="fa-solid fa-fw fa-user-secret"></i></a>
{% endif %}



