{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# this template is used to display Doctrine entity primary keys #}
<span class="badge badge-secondary">
    <span>
        <span class="label">{{ field.formattedValue|default("@fields.stock.unlimited"|trans) }}</span>
        {{ "fas fa-truck-loading"|fontAwesome({class:"fa-fw"}) | raw}}
    </span>
</span>