.dropzone {
    border-radius: 1em;
    border: 0.5px solid #ced4da !important;
    flex-grow:1;
}

.dropzone .dz-preview .dz-image
{
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 0.5px solid #ced4da !important;
}

.dropzone .dz-preview .dz-remove
{
    position: relative;
    top: -1.75em;
    z-index:11;
    background-color: rgba(255,255,255,.4);
    border-radius: 3px;
    padding: 0 .4em;
    color:#000;
    text-decoration: none;
    margin-bottom: -2em;
    height:2em;
}

.dropzone .dz-preview .dz-remove:hover
{
    text-decoration: none !important;
}

.nav-tabs { padding-top:1em; }
img.country-flag { margin-right:2px;max-height:18px;vertical-align:text-top }
.nav-link { background-color:transparent; }
.tab-pane { padding:1em; }
.input-group-text { height: 100%; }
.form-group .required:after, 
.form-control .required:after,
.nav-tabs .required:after,
.tab-pane .required:after {
    bottom: 4px;
    color: #dc2626;
    content: "•";
    filter: opacity(75%);
    position: relative;
    right: -2px;
    z-index: 2;}

.fileupload {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fileupload .field {

    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fileupload .deleteBtn {
    position: relative;
    width: 0px;
    right: 25px;
}

.fileupload input {
    padding-right: 30px;
}

.imageupload {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.imageupload figure   {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 125px;
    margin-right: 1em;

    border-radius: 1em;
    border: 0.5px solid #ced4da;
    overflow: hidden;
}

.imageupload figure > img {
    object-fit: cover;
    width: 105%;
    height: 105%;
}

.avatarupload input[type="file"] { display: none; }
.avatarupload .fileupload .deleteBtn { display:none !important; }
.avatarupload figure { border-radius: 100%; }

.imageupload figure {
    position: relative;
    border: 3px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
    cursor: pointer;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.imageupload figure:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.avatarupload
{
    display:flex;
}

.avatarupload .deleteBtn 
{
    position: relative;
    z-index:2;
    top: 5px;
    right: 40px;
    height: 0px;
    width: 0px;
    line-height: 0.5;
    display: flex;
    justify-content: center;
    align-items: start;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
}

.avatarupload .deleteBtn > i:hover {
    color:#A00A;
}
.avatarupload .deleteBtn > i {

    cursor: pointer;
    color: #000A;
    border-radius: 100%;
    background-color: #FFF;
    border: 1px solid #FFF;
    transform:rotate(45deg);
}

.imageupload figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;

    width: 100%;
    height: 100%;
    z-index: 2;
}

.imageupload figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
}

.imageupload figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageupload figcaption>i {
    color: #FFFA;
}