<div class="locale-default">
    <span class="label">{{ "@messages.locale.lang._singular"|trans }}</span>
    <ul class="locale">
    {% for locale in available_locales %}
        {% set current = (locale == current_locale) ? "active" : null %}
        <li><a href="{{ path(switch_route, {_locale: locale|lang}) }}" {{ html_attributes({"class":current}) }}>
            <img class="country-flag" src="{{asset('bundles/base/images/flags/'~(locale|country)~'.svg')}}">
        </a></li>
    {% endfor %}
    </ul>
</div>
