<ul class="locale">
{% for locale in available_locales %}
    {% set current = (locale == current_locale) ? "active" : null %}
    <li><a href="{{ path(switch_route, {locale: locale}) }}" {{ html_attributes({"class":current}) }}>{{ locale }}</a></li>
{% endfor %}
</ul>
