
{% set attr = options.attr ?? [] %}
{% set attr = attr|merge({
    'class': 'ql-editor ' ~ (attr.class is defined ? ' ' ~ attr.class : '')
}) %}

<div {{ html_attributes(attr) }}>{{ html|raw }}</div>