<div class="btn-matrix btn-matrix3">
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" data-quadrant="ORIGIN"    class="btn btn-default">{{ form.vars.icons["ORIGIN"]|first|iconify|first|raw }}</button>
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" class="btn btn-default" disabled></button>
    <button type="button" class="btn btn-default" disabled></button>
</div>
