.main-content .content-top {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x:auto;
}

.main-content
{
    max-width:100vw;
}

.content-header .page-actions
{
    justify-content: center;
}
.sidebar
{
    position:fixed;
}