.content-top .content-search input[type=search][name=query] {
    background: transparent;
    border: 0;
}
table.datagrid:not(.datagrid-empty) tr:not(.empty-row) td.actions, table.datagrid:not(.datagrid-empty) tr:not(.empty-row) td.actions.actions-as-dropdown
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.datagrid td.text-center > span.badges,
.datagrid td.text-right > span.badges
{
    justify-content: flex-start;
}

.list-pagination-counter { text-align:center; }
.content-header { max-width: calc(100vw); }

.imageupload { flex-direction: column; align-items: center; }
.imageupload > * { margin:0.5em 0 ; }

.lightbox-thumbnail .img-fluid { margin: 0; }
.actions { display: flex; justify-content: center; flex-wrap:wrap;}

.content-panel-footer {
    display: flex;
    justify-content: center;
}

.responsive-header-menu { display:none; }

.text-center { text-align:left; }
.text-right { text-align:left; }

.main-content .content {
    max-width: calc(100vw);
}