{% extends 'email.html.twig' %}

{% block content %}

<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ url('base_lost_password', {token: token.get()}) }}">
    {{ url('base_lost_password', {token: token.get()}) }}
</a>

<p>This link will expire in {#{{ token.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}#}.</p>

<p>Cheers!</p>

{% endblock %}
