{% extends 'email.html.twig' %}

{% block content %}

<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    {% if expiresAtMessageKey is defined and expiresAtMessageKey is not null%}
        This link will expire in {{ expiresAtMessageKey }} minute(s).
    {% endif %}
</p>

<p>
    Cheers!
</p>
{% endblock %}