{% extends 'email.html.twig' %}

{% block content %}
<h1>Hi ! A new action is required !</h1>

<p> {{ user.getUsername() }} is ready for validation !
Click here to go to the <a href='{{ path("base_dashboard") }}'>dashboard</a>.
</p>

<p>
    Cheers!
</p>
{% endblock %}