<div class="widget-menu">
    {% if label != false %}<span class="label">{{ label }}</span>{% endif %}
    <ul class="items {{ row_attr['class'] ?? "" }}">
        {% for item in widget.items %}
            {% set url = is_linkable(item) ? item.__toLink() : null %}
            {% if url is not empty %}
                <li>{{ urlify(url, item|raw, {"class": class|default(null)}) }}</li>
            {% endif %}
        {% endfor %}

        {% if tail is defined %}
            {% for item in tail %}<li>{{ item }}</li>{% endfor %}
        {% endif %}
    </ul>
</div>
