{% extends 'layout1.html.twig' %}

{% block title %}{{ page.headline }}{% endblock %}
{% block content %}
<article>
    <h1>{{ page.headline }}</h1>
    <h3>{{ page.excerpt }}</h3>
    <div>{{page.content|raw}}</div>
</article>
{% endblock %}