<div class="widget wrapper">
    <div class="widget-head">
        <h1  class="widget-title"  >{{widget.headline ?? widget.title}}</h1>
        <h3  class="widget-excerpt">{{widget.excerpt}}</h3>
    </div>
    <div class="widget-content">{{widget.content|raw}}</div>
</div>
