.codex-editor h1, .codex-editor .h1,
.codex-editor h2, .codex-editor .h2,
.codex-editor h3, .codex-editor .h3,
.codex-editor h4, .codex-editor .h4,
.codex-editor h5, .codex-editor .h5,
.codex-editor h6, .codex-editor .h6
{ 
    color:#000;
}
.cdx-notifies
{
    color:#222;
    margin-right:10px;
}
.codex-editor 
{ 
    color: #222;
    background-color: #FFF;
    border-radius: 4px;
}

.ce-paragraph[data-placeholder]:empty::before {
    position: relative;
    top: 2px;
    color:#999;
}

.cdx-notify {
    padding-right:20px !important;
}
.cdx-notify__cross::after, .cdx-notify__cross::before {
    left: 0px !important;
}

.ce-popover__item[data-item-name="paragraph"] svg,
.ce-inline-toolbar__dropdown-content svg {

    color: transparent !important;
    width: 8px !important;
    margin-left: 6px !important;
}

.ce-block__content, .ce-toolbar__content { max-width:calc(95% - 80px) !important; } 
.cdx-block { max-width: 95% !important; }

.codex-editor__redactor { padding:1em; }
.form-editor-codex { padding:0em; margin:0; }