.codex-editor h1, .codex-editor .h1,
.codex-editor h2, .codex-editor .h2,
.codex-editor h3, .codex-editor .h3,
.codex-editor h4, .codex-editor .h4,
.codex-editor h5, .codex-editor .h5,
.codex-editor h6, .codex-editor .h6
{
    color:#000;
}

.codex-editor__redactor
{
    padding-bottom:100px !important;
}

.ce-inline-tool svg, .ce-inline-toolbar__dropdown-arrow svg, .ce-conversion-toolbar__tools
{
    color:black;
}

.cdx-notifies
{
    z-index:10000 !important; 
    color:#222;
    margin-right:10px;
}
.ce-popover-item[data-item-name="paragraph"] svg
{
    color:transparent;
}r

.ce-paragraph[data-placeholder]:empty::before {
    position: relative;
    top: 2px;
    color:#999;
}

.cdx-notify {
    padding-right:20px !important;
}
.cdx-notify__cross::after, .cdx-notify__cross::before {
    left: 0px !important;
}

.ce-popover__item[data-item-name="paragraph"] svg,
.ce-inline-toolbar__dropdown-content svg {

    color: transparent !important;
    width: 8px !important;
    margin-left: 6px !important;
}

.codex-editor.read-only .codex-editor__redactor { padding-bottom: 1em !important; }
.codex-editor.read-only .ce-block__content, .codex-editor.read-only .ce-toolbar__content { max-width:100% !important; }
.codex-editor .ce-block__content, .codex-editor .ce-toolbar__content { max-width:calc(100% - 150px) !important; }
.codex-editor .cdx-block { max-width: 100% !important; }

.codex-editor__redactor { padding:1em; }
.form-editor-codex { padding:0em; margin:0; }